.soon {
  font-family: "Lato";

  .logo {
    position: relative;
    margin-top: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 84px;
    text-align: center;
    color: #66c1de;

    > small {
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 0;
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      color: #b5b5b5;
    }
  }

  .tagline {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    color: #0c2e39;
  }

  .subscribe {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 10px;
      color: #0c2e39;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: row;

      > input,
      > button {
        padding: 15px 15px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
      }

      > input {
        color: #0c2e39;
        background: #f1f1f1;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      > button {
        color: #ffffff;
        background: #de66c1;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }

  .about {
    margin-bottom: 50px;
    padding: 0 10px;

    > p {
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 150%;
      color: #0c2e39;
    }
  }

  .features {
    padding: 0 10px;

    > figure {
      text-align: center;
    }

    > p {
      margin-top: 70px;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }
  }

  .social {
    width: 100%;
    max-width: 375px;
    margin-bottom: 50px;
    padding: 0 20px;

    > p {
      margin-bottom: 50px;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #0c2e39;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        list-style-type: none;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75px;
          height: 75px;
          background: #ffffff;
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
        }
      }
    }
  }

  .copyright {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;
  }
}
